management:
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"

info:
  app:
    name: @project.name@
    description: @project.description@
    version: @project.version@
    encoding: @project.build.sourceEncoding@
    java:
      version: @java.version@

spring:
  main:
    allow-bean-definition-overriding: true

  cloud:
    consul:
      discovery:
        instance-id: ${spring.application.name}:${random.value}
        healthCheckPath: /actuator/health
        healthCheckInterval: 15s
        healthCheckTimeout: 60s
        health-check-critical-timeout: 5m
        prefer-ip-address: true

  jackson:
    deserialization:
      fail-on-unknown-properties: true

  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      poolName: Hikari-Master

  jpa:
    database: POSTGRESQL
    show-sql: false
    open-in-view: false
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    properties:
      hibernate.hbm2ddl.auto: validate
      hibernate.format_sql: false
      hibernate.id.new_generator_mappings: true
      hibernate.cache.use_second_level_cache: false
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false
      hibernate.temp.use_jdbc_metadata_defaults: false
      hibernate.jdbc.batch_size: 25
      hibernate.order_inserts: true
      hibernate.order_updates: true
      hibernate.query.fail_on_pagination_over_collection_fetch: true
      hibernate.query.in_clause_parameter_padding: true
  security:
    user:
      name: actuator
      password: actuator
      roles: ACTUATOR_ADMIN

application:
  swagger:
    v1:
      title: Petclinic
      description: REST API Petclinic
      version: 1.0
      groupName: petclinic-api-1.0
      defaultIncludePattern: /api/v1/.*
